<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src="https://kit.fontawesome.com/0df3521c8c.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="nav">
        <div class="contents">
            <div class="left">
                <h1 class="booknav">PostR</h1>
            </div>
            <div class="right">
                <a href="/addpost" class="nav-link"><i class="fa-solid fa-plus"></i> Add Post</a>
                <a href="/messages/0" class="nav-link"><i class="fa-solid fa-message"></i> Messaging Platform</a>
                <a href="/news" class="nav-link"><i class="fa-solid fa-newspaper"></i> News</a>
                <a href="/logout"><button class="create-btn" >Logout <i class="fa-solid fa-right-from-bracket"></i></button></a> 
            </div>
        </div>
    </nav>

    <div class="postmain">
        <h4>See what's happening below {{first}}!   <a class="homerefresh" href="/home"><i class="fa-solid fa-rotate-right"></i></a> <br>
            <a href='/favorites' class="favorites"> <i class="fa-solid fa-heart"></i>Favorites</a></h4> 
        
        
        {% if posts %} 

        {% for post in posts %}
            <div class="post">
                <a href='display/{{post.id}}'><h3>{{post['title']}}</h3></a>
                <p><strong>{{post['first_name']}} </strong>{{post['content']}}</p>
                {% if post['liked'] %}
                <div class="likedisplay">

                    <div class="created">
                        <p>Posted On {{post['created_at']}}</p>
                    </div>
                    
                    <div>
                        <a href="/unlike/{{post['id']}}/{{session['id']}}"><i class="fa-solid fa-heart"></i></a>
                        <p>{{post['likes']}}</p>
                    </div>
                    
                </div>
                {% else %}
                <div class="likedisplay">
                    <div class="created">
                        <p>Posted On {{post['created_at']}}</p>
                    </div>

                    <div> 
                        <a href="/like/{{post['id']}}/{{session['id']}}"><i class="fa-regular fa-heart"></i></a>
                        <p>{{post['likes']}}</p>
                    </div>
                </div>
                {% endif %}
                <div>
                    {% if post['comments'] %}
                    <h4><b>Comments</b></h4>
                    {% for comment in post['comments'] %}
                    <div class="commentvisual">
                    
                    {% if comment['liked'] %}
                    <div class="likedisplay">
                        <div>
                            <p><strong>{{comment['first_name']}} </strong>{{comment['comment']}}</p>
                        </div>
                        <div>
                            <a href="/commentunlike/{{post['id']}}/{{session['id']}}/{{comment['comment_id']}}"><i class="fa-solid fa-heart"></i></a>
                            
                            <p>{{comment['count']}}</p>
                        </div>
            
                    </div>
                    {% else %}
                    <div class="likedisplay">
                        <div>
                            <p><strong>{{comment['first_name']}} </strong>{{comment['comment']}}</p>
                        </div>

                        <div> 
                            <a href="/commentlike/{{post['id']}}/{{session['id']}}/{{comment['comment_id']}}"><i class="fa-regular fa-heart"></i></a>
                            <p>{{comment['count']}}</p>
                        </div>
                    </div>
                </div>
                    {% endif %}
                    {% endfor %}
                
                
                    <a href="display/{{post.id}}"><p>View All Comments</p></a>
                    {% endif %}
                </div>
                <div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}

                        <p style="color:red">{{message}}</p>

                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form action="/addcomment/{{post.id}}" method="POST">
                        <input type="text" name="comment" placeholder="Comment" class="commentsubmit">
                        <button type="submit" class="commentbutton">Post</button>

                    </form>
                </div>
            </div>
        {% endfor %}

        {% endif %}
    </div>





</body>
</html>