<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JohannBook</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
            <div class="box">
                <div class="title-box">
                <h3 class="book">JohannBook</h3>
                </div>
                <div class="form-box">
                    <form action="/login" method="POST">
                        <label for="email">Email: </label><br>
                        <input type="text" name="email"><br>
                        <label for="password">Password: </label><br>
                        <input type="password" name="password"><br>
                        <input type="submit" class="button" value="Login">
                    </form>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            {% if 'Login Error' in message %}
                            <p style="color:red">{{message}}</p>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                <hr>
                <div class="create-btn">
                    <a href="/createnew">Create New Account</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>