<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging Platform</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>

    <nav class="nav">
        <div class="contents">
            <div class="left">
                <a href="home"><h1 class="booknav">JohannBook</h1></a>
            </div>
            <div class="right">
                <a href="/home" class="nav-link">Home</a>
                <a href="/logout"><button class="create-btn" >Logout</button></a> 
            </div>
        </div>
    </nav>


    <div class="belownav">
        <div class="messages">
                <table class="table table-dark">
                    <tbody>
                        {% for message in messages %}
                        <tr>
                            {% if message.send_to == session['id'] %}
                                <td>{{message.user.first_name}} said</td>
                                <td>{{message.content}}</td>
                                <td><a href="delete/{{message.id}}">Delete Message</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="send">
            <div class="container">
                <h3 class="belowcover">Send Messages</h3>
                <h4>You have sent {{sent}} messages so far</h4>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color:red">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <table class="table table-dark">
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <form action="/send/{{user.id}}", method="POST">
                            <td><label for="content">{{user.first_name}}</label></td>
                            <td><input type="text" name="content"></td>
                            <td><input type="submit" class="create-btn" value="Send Message"></td>
                        </form>
                    </tr>
                    {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
    
</body>
</html>