*{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: #cdcfd1;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.nav{
    background-color: #166fe5;
    opacity: 1;
    margin-top: -15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}



.contents{
    display: flex;
    flex-direction: row;
    gap: 500px;
    justify-content: center;
}

.left{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 25px;
}

.right{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    gap: 25px;
    margin-top: 30px;
}

.welcome{
    margin-top: 0px;
    color: black;
}

.book{
    font-family:"lucida grande";
    font-size: 50px;
    color: #166fe5;
}

.booknav{
    font-family:"lucida grande";
    font-size: 50px;
    color: black;
}

.nav-link{
    color: black;
    font-size: 20px;
}


.maincontain{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.contain{
    width: 20%;
    margin-left: 15px;
}

.usermessage{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    height: 50px;
    width: 150px;
    border: #166fe5;
    border: 2px;
    border-radius: 14px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    opacity: 0.5;
}

.usermessage2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.9);
    height: 50px;
    width: 150px;
    border: #166fe5;
    border: 2px;
    border-radius: 14px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}

.usermessage:hover{
    opacity: 1;
    text-decoration: none;
}

#text{
    opacity: 1;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#text2{
    opacity: 1;
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}


.userheader{
    margin-left: 25px;
}


.sendmessagebar{
    background-color: white;
    border-radius: 50px;
    width: 200px;
    height: 35px;
}

.sendmessageposition{
    width: fit-content;
    margin-left: auto;
}


.messagecontents{
    margin-bottom: 15px;
    padding: 5px;
}

.sendmessage{
    margin: 3px;
    border-radius: 13px;
}

.messagedisplay{
    width: 75%;
    height: 400px;
    border-radius: 14px;
    border: 2px;
    overflow-y: scroll;
    padding: 5px;
}


.received{
    background-color: gray;
    border-radius: 13px;
    padding: 5px;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    color: whitesmoke;
}

.sent{
    background-color: #166fe5;
    border-radius: 13px;
    padding: 5px;
    margin-left: auto;
    height: fit-content;
    width: fit-content;
    color: whitesmoke;
    margin-top: 0;
}

.senttime{
    margin-left: auto;
    width: fit-content;
    height: 0px;
    opacity: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.gottime{
    width: fit-content;
    opacity: 0;
    height: 0px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.received:hover + .gottime{
    opacity: 1;
    height: fit-content;

}

.sent:hover + .senttime{
    opacity: 1;
    height: fit-content;
}


